*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #d2d2d7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #0c0c0c;
    width: 100%;
    position: fixed;

}

.logo{
    color: #d2d2d7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #d2d2d7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 40px;
    height: 3px;
    background-color: #d2d2d7;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
    .nav-links{
        position: fixed;
            right: 0px;
            height: 90vh;
            top: 10vh;
            background-color: #0c0c0c;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 100;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    font-size: 6vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0c0c0c;
    font-weight: initial;
    text-decoration: underline;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #0c0c0c;
    font-weight: lighter;
    font-size: 15px;
}

.frontpageimg{
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: -5px;
}

.imgcenter{
    color: #d2d2d7;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.frontpageimg2{
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}

.flyimg{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    margin-top: 35px;
}